.btn-font-white {
  color: white;
  text-decoration:none;
}

.btn-font-white:hover {
  color: white;
  text-decoration:none;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.wrap {
  margin-left: 5%;
  margin-top: 10%;
}

h2 {
  color: #191970;
}

body
{
    background-image: url("https://pixabay.com/fr/photos/g%C3%A2teaux-cupcakes-fruits-dessert-1283821/");
}
