.btn-font-white {
  color: white;
  text-decoration:none;
}

.btn-font-white:hover {
  color: white;
  text-decoration:none;
}

.wrapper {
  display: flex;
  justify-content: center;

}

.wrap {
  margin-left: 5%;
  margin-top: 10%;
}

h2 {
  color: #191970;
}

.margin-bottom {
  margin-bottom: 5%;
}

.margin-date {
  margin-top: 5% !important;
}
a {
  color: black !important;
  text-decoration: none !important;
}

.marge-date-of-fight {
  margin-left: 10%;
  margin-top: 10%;
  font-size: 15px;
  color: #E14883;
}
li {
  margin-top: 3% !important;
}

