<div>
  <h2 class=text-center> Index des EVENTS </h2>
</div>
<div class=marge-date-of-fight>
  <ul>
      <% @events.each do |event| %>
    <li>
      <%= link_to event.date.strftime("Patisserie fight du : %d/%m/%Y") , new_event_fight_path(event.id) %>
    </li>
    <% end %>
  </ul>
</div>
