<p> Bonjour Linguini, quelles patisseries veux-tu choisir ?</p>
<% @pastries.each do |pastrie| %>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
      <%= pastrie.pastrie_name %>
    </label>
  </div>
<% end %>

<button type="button" class="btn btn-success">Valider ton choix</button>

  <!-- <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
    <label class="form-check-label" for="defaultCheck2">
      Disabled checkbox
    </label>
  </div> -->
