<div class=margin-bottom>
  <h2 class=text-center> Bonjour Linguini, quelle date veux-tu réserver ?</h2>
</div>
<div class="container margin-bottom">
  <%= simple_form_for [@event] do |f| %>
  <%= f.input :date, { ampm: true, order: [:day, :month, :year] } %></br>
  <%= f.submit "Valider", class: "btn btn-primary" %>
  <% end %>
</div>
