<div class=containe>
  <div class=text-center text-color-blue>
    <h2> Bienvenue ! </h2>
  </div>
  <div class=wrapper>
    <div class="btn btn-danger wrap">
      <%= link_to "Réserver un nouveau lundi", new_event_path, :class => "btn-medium btn-font-white" %></div>
    <div class="btn btn-warning wrap">
      <%= link_to "Choisir les pâtisseries", fights_path, :class => "btn-medium btn-font-white" %></div>
        </br>
    <div class="btn btn-info wrap">
      <%= link_to "Choisir les cuisiniers", events_path, :class => "btn-medium btn-font-white" %> </div>
        </br>
  </div>
</div>
