<div>
  <h2 class=text-center> Voici toutes les Fights dispos : </h2>
</div>
<div class=marge-date-of-fight>
  <ul>
      <% @fights.each do |fight| %>
    <li>
      <%= fight.id %>
    </li>
    <% end %>
  </ul>
</div>
