<div class=margin-bottom>
  <h2 class=text-center> Bonjour Linguini, quelles pâtisseries veux-tu choisir ?</h2>
</div>
<div class="container margin-bottom">
  <%= simple_form_for [@event, @fight] do |f| %>
  <%= f.association :event, label_method: :date  %>
  <%= f.association :pastrie, label_method: :pastrie_name, checked_value: true, unchecked_value: false %>
  <%= f.button :submit, value: 'Valider la selection' %>
<% end %>
</div>
